<head>
    <link rel="stylesheet" href="./showcase.component.css">
</head>

<div class="showcase">
    <div class="showcase-content">
        <div class="container">
            <h1 class="l-heading">
                Bem vindo ao Spotify
            </h1>
            <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab tempora hic aspernatur,
                aperiam
                dicta perferendis! Tempore rerum, ullam dolorem ad id, recusandae quis possimus optio eligendi, quia
                illum iusto. Voluptatum animi ipsum accusantium odio veniam similique eaque sequi exercitationem
                eum.
            </p>
            <a href="https://www.unifor.br/" class="btn" target="_blank">Site Principal</a>
        </div>
    </div>
</div>
